.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__wysiwyg{
    max-width: 45ch;
    background-color: $extra-light-blue;
    border-radius: 35px;
    padding: 2rem 2rem;
    line-height: 150%;
    position: relative;
    margin-top: 100px;
    color: $dark-blue;
    & p {
      margin-bottom: 1rem;
    }
    & b{
      font-weight: 600;
    }
    & i {
      font-style: italic;
    }
    & a {
      color: $blue-gray;
      &:focus, &:hover{
        color: $dark-blue;
      }
    }
  }
  &__avatars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100px;
    z-index: -1;
    transition: all .15s ease;
    transform: translateY(0);
    animation: appear 5s ease 1;
  }

}
@media screen and (min-width: 728px) {
  .about{
    &__wysiwyg{
      padding: 1rem 3rem;
      margin-top: 2rem;
    }
    &__avatars{
      z-index: 1;
      position: initial;
    }
    &__avatar{
      position: absolute;
      transition:none;

    }
    &__av1{
      left: -100px;
      top: -450px;
      transform: translateX(0);
      animation: avatarSlideIn 1s linear 1;
    }
    &__av2{
      right: -100px;
      bottom: 0;
      transform: translateX(0);
      animation: avatarSlideRight 1s linear 1;
    }
  }
}
@keyframes appear {
  0%{
    transform: translateY(110px);

  }
  100% {
    transform: translateY(0);
  }
}
@keyframes avatarSlideRight {
  0%{
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}