.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body{
  font-family: $open-sans, "Helvetica Neue" ,sans-serif;
  font-weight: $regular;
  font-size: 16px;
}