.capsule{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ig__link{
  display: flex;
  align-items: center;
  & img{
    margin-right: 0.4rem;
  }
}
@media screen and (max-width: 500px){
  .capsule{
    align-items: normal;
  }
}