.contact {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wysiwyg {
    max-width: 45ch;
    padding: 1.5rem 2rem 1.5rem;
    background-color: $extra-light-blue;
    border-radius: 25px;
    margin-bottom: 8rem;
    position: relative;
    margin-top: 1rem;
    line-height: 125%;
  }

  &__bulle {
    position: absolute;
    right: calc(20% - 35px);
    z-index: -1;
    margin-top: 1rem;

    & img {
      width: 75px;
      object-fit: cover;
    }
  }

  &__avatars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: calc(80% - 150px);
  }

  &__avatar {
    width: 150px;

    transition: all .15s ease;
    transform: translateX(0);
    animation: avatarSlideIn 3s ease 1;

  }

  &__avatar:nth-child(2) {
    margin-left: -4rem;

    transition: all .25s ease;
    transform: translateX(0);
    animation: avatarSlideIn 2s ease 1;
  }
}

@keyframes avatarSlideIn {
  0% {
    transform: translateX(-45vw);
  }
  100% {
    transform: translateX(0);
  }
}