.header{
  &__container{
    display: flex;
    background-color: $extra-light-blue;
    align-items: center;
    justify-content: space-between;
  }
  &__menu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $extra-light-blue;
    transition: transform 1.5s;
    transform: translateY(-100vh);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
  }
  & .menu__close{
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    transition: background-color .15s ease;
    &:focus, &:hover{
      background-color: white;
    }
  }
}