.menu{
  background-color: $extra-light-blue;
  padding: 0.875rem 4rem;
  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__separation{
    display: flex;
    flex-direction: row;
  }
  &__separation:nth-child(2){
    .menu__item{
      margin: 0 1rem;
    }
  }
}