.search{
  position: relative;
  transform: translateY(-100vh);
  transition: all 0.5s ease-in-out;
  z-index: -1;
  &__active{
    transform: translateY(0);
    animation: smoothY 0.5s ease-in-out;
  }
  & .searchform{
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $blue-gray;
      border-radius: 45px;
      background-color: white;
      padding: 0 1rem;
      margin: 0.36rem 0.24rem;
      transition: all 2s ease;
      & input{
        padding: 0.5rem 1rem;
        z-index: 1;
      }
      & input[type='text']{
        border: none;
        flex-grow: 1;
        font-size: $_18;
      }
    }
  }
}
@keyframes smoothY {
  0% {
    transform: translateY(-25vh);
  }
  100% {
    transform: translateY(0px);
  }
}